<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts App</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <div id="app">
        <div v-if="loading == true">Loading Data ...</div>
        <div v-else>
            <div v-for="contact in contacts">
                {{contact.name}}
                {{contact.email}}
                {{contact.phoneNumber}}
            </div>
        </div>

    </div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>